
<div id="page-content" class="col-md-4">
    <div class="customCard customCard-bordered">
        <div class="customCard-header">
            <h4 id="names" class="customCard-title"></h4>
        </div>
        <div class="ps-container ps-theme-default ps-active-y" id="chat-content"
             style="overflow-y: scroll !important; height:400px !important;">

            <div class="media media-chat">
                <img id="toPic" class="avatar"
                     src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
                <div class="media-body">
                    <p>Sorry I don't have. i changed my phone.</p>
                </div>
            </div>
            <div class="media media-chat media-chat-reverse">
                <div class="media-body">
                    <p>Okay then see you on sunday!!</p>
                </div>
            </div>
            <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
            </div>
            <div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;">
                <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div>
            </div>
        </div>
        <div class="publisher bt-1 border-light">
            <input class="publisher-input" type="text" placeholder="Write something"> <span class="publisher-customBtn file-group">
                <a class="publisher-customBtn customText-info" href="#ss"
                   data-abc="true"><i class="fa fa-paper-plane"></i></a></span>
        </div>
    </div>
</div>

@section Scripts{
 
   <script>
       function openForm() {
           document.getElementById("page-content").style.display = "block";
       }

       function closeForm() {
           document.getElementById("page-content").style.display = "none";
       }
    </script>

}