<div class="card spur-card">
    <div class="card-header">
        <div class="spur-card-icon">
            <i class="fas fa-hourglass-half"></i>
        </div>
        <div class="spur-card-title">Ongoing Challanges</div>
    </div>
    <div class="card-body ">
        <table class="table table-hover table-in-card">
            <thead>
                <tr>
                    <th scope="col">Status</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th onclick="location.href='https://www.google.com'" scope="row">Open</th>
                    <td onclick="location.href='https://www.google.com'">Mark</td>
                    <td onclick="location.href='https://www.google.com'">Ott</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>