@using PhotoApp.Web.ViewModels
@inject Microsoft.AspNetCore.Identity.UserManager<PhotoApp.Data.Models.PhotoAppUser> UserManager
@model PhotosViewModel

@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @Model.UserId

    <partial name="_UploadButtonPartial" />

</div>


<div class="text-center">
    <ul>

        @foreach (var item in Model.Photos)
        {
            <li><img class="lazy" data-src="@item" src="@item" alt="Alternate Text" />></li>
        }
    </ul>
</div>

<button onclick="hey()">Click</button>

<div id="test">

</div>

<div>
    <p id="pesho"></p>
    <button id="but">Send</button>
</div>

@section Scripts {

    <script>

        function hey() {
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var data = JSON.parse(this.responseText);
                    var length = data.length;
                    for (var i = 0; i < length; i++) {
                        var info = data[i];
                        document.getElementById("test").innerHTML += "<p>" + info["name"] + "</p>";
                    }
                }
            }
            xhr.open("GET", "/Api/ResultTest", true);
            xhr.send();
        }


        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/load")
            .build();


        connection.on("Load",
            function (link) {
                $("#pesho").append(link);
            })

        $("#but").click(function () {
            connection.invoke("Send");
            $("#pesho").append("beaa");

        }
        );

        connection.start();

    </script>

}

