@using PhotoApp.Web.ViewModels
@model PhotosViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <ul>
        @foreach (var item in Model.Photos)
        {
            <li><img class="lazy" src="@item" alt="Alternate Text" />></li>
        }
    </ul>
</div>

<script type="text/javascript" src="jquery.lazy.min.js"></script>

<script>
    $(function () {
        $('.lazy').Lazy();
    });
</script>