@model PhotoApp.Web.ViewModels.ChallangeViewModel







<div class="ml-2 mr-2">
    <div class="card text-center ">
        <div class="containerPhoto">
            <img src="https://www.wallpapertip.com/wmimgs/2-21896_fantastic-full-hd-wallpaper-hd-walpaper.jpg"
                 class="m-2" width="99%" alt="Alternate Text" />
            <div class="centered ">@Model.Name</div>
            <div class="centered1 back rounded">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus iusto dolor est eum, quidem neque aliquid eius sequi culpa ducimus nisi vel minus autem odit vitae, cupiditate cumque accusamus eligendi!
            </div>
            <button id="rate" class="btn btn-primary btn-lg centered3 ">Rate photos</button>

            <!-- Button trigger modal -->
            <button id="uploadButton" type="button" class="btn btn-primary btn-lg centered4" data-toggle="modal" data-target="#exampleModal">
                Upload Photo
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-dark" id="exampleModalLabel">Upload</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-dark ulpoadForm">
                            <form method="post" enctype="multipart/form-data" asp-controller="Challanges" asp-action="Upload">
                                <input type="file" name="files" multiple />
                                <input type="number" name="challangeId" value="@Model.Id" hidden />
                                <button type="submit" value="Upload">Upload</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">

        </div>
    </div>
    <div id="photos">
        <div class="card mt-3">
            <div class="card-body">
                <div id="photosContainer" class="row">

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>

        var TotalPhotos;
        var StepsCount;

        $(document).ready(function () {
            $("#photos").hide();

        });
        $("#rate").click(
            function () {
                $("#photos").show();
                $("#rate").prop('disabled', true)
            }
        )


        //SingulaR for loading photos

        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/load")
            .build();

        //     connection.on("GetPhotosCount",
        //    function (lastPhotoId) {
        //        LastPhotoId = lastPhotoId
        //    }
        //);

        //connection.on("GetStepsCount",
        //    function (totalPhotos) {
        //        TotalPhotos = totalPhotos
        //    }
        //);

        connection.on("GetPhotos",
            function (model) {
                var i;
                for (i = 0; i < model.photos.length; i++) {
                    $("#photosContainer").append(`<div class="col-3"><img width="90%" src="${model.photos[i].photoLink}" alt="Alternate Text" /> ${model.photos[i].photoId} </div>`)
                }

                TotalPhotos = model.photosCount;
                StepsCount = model.stepsCount
            }
        );

        $("#rate").click(function () {
            //connection.invoke("LoadLastPhotoIdBack",LastPhotoId);
            //connection.invoke("LoadTotalPhotosBack",TotalPhotos );

            var loadInfo =
            {
                totalPhotos: TotalPhotos,
                stepsCount: StepsCount,
                challangeId: @Model.Id,
            };

            connection.invoke("LoadPhotos", loadInfo);
        }
        );

        $(window).on("scroll", function () {
            if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
                //connection.invoke("LoadLastPhotoIdBack", LastPhotoId);
                //connection.invoke("LoadTotalPhotosBack", TotalPhotos);

            var loadInfo =
            {
                totalPhotos: TotalPhotos,
                stepsCount: StepsCount,
                challangeId: @Model.Id,
            };

                connection.invoke("LoadPhotos", loadInfo);
            }
        });

        connection.start();

    </script>
}

@*<ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
    </ul>*@