


<div class="card mt-3">
    <div class="card-body">
        <div id="photosContainer" class="row">
            <div class="card-columns">
                <div class="card card1">
                    <img src="https://imgcomfort.com/Userfiles/Upload/images/illustration-geiranger.jpg" class="card-img-top" alt="...">
                    <button class="btn btn-danger centered5" type="submit">Like</button>
                </div>
            </div>
        </div>
    </div>
</div>