@model PhotoApp.Web.Areas.Admin.Models.ReportsViewModel

<div class="card spur-card">
    <div class="card-header">
        <div class="spur-card-icon">
            <i class="fas fa-play"></i>
        </div>
        <div class="spur-card-title">Active reports</div>
    </div>
    <div class="card-body ">
        <table class="table table-hover table-in-card">
            <thead>
                <tr>
                    <th scope="col">Created on</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Reports)
                {
                    <tr>
                        <th onclick="location.href='/Admin/Reports/Report/@item.Id'" scope="row">@item.ReportedOn</th>
                        <td onclick="location.href='/Admin/Reports/Report/@item.Id'">@item.Description</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>